version: "2.1"

services:
  rabbitmq:
    image: rabbitmq:3.7.6-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - "TZ=@timezone@"

  zipkin-server:
    image: openzipkin/zipkin:latest
    container_name: zipkin-server
    depends_on:
      - rabbitmq
    restart: always
    ports:
      - "9411:9411"
    environment:
      - "TZ=@timezone@"
      - "RABBIT_URI=amqp://guest:guest@rabbitmq:5672"

  config-server:
    image: hazalyoleri/config-server
    container_name: config-server
    hostname: config-server
    environment:
     CONFIG_STORE_USERNAME: "HazalYoleri"
     CONFIG_STORE_PASSWORD: "Na121319"
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  discovery-server:
   image: hazalyoleri/discovery-server
   restart: always
   hostname: discovery-server
   ports:
     - "5555:5555"
   depends_on:
    - config-server
   container_name: discovery-server
   logging:
    options:
       max-size: "10m"
       max-file: "10"

  zuul-proxy:
   image: hazalyoleri/zuul-proxy
   restart: always
   hostname: zuul-proxy
   container_name: zuul-proxy
   ports:
     - "8085:8085"
   depends_on:
    - config-server
    - discovery-server
    - rabbitmq
    - zipkin-server
   logging:
    options:
     max-size: "10m"
     max-file: "10"

  exchange-service:
   image: hazalyoleri/exchange-service
   restart: always
   hostname: exchange-service
   container_name: exchange-service
   ports:
    - "8000:8000"
   depends_on:
    - config-server
    - discovery-server
    - rabbitmq
    - zipkin-server
   logging:
    options:
     max-size: "10m"
     max-file: "10"

  calculation-service:
   image: hazalyoleri/calculation-service
   restart: always
   hostname: calculation-service
   container_name: calculation-service
   ports:
    - "8100:8100"
   depends_on:
    - config-server
    - discovery-server
    - rabbitmq
    - zipkin-server
   logging:
    options:
     max-size: "10m"
     max-file: "10"